block nav
    nav.purple-bg
      .nav-wrapper
        a.brand-logo(href='/') 
          img.nav-img(src='img/gen-gre.png', alt='GEN logo')
        a.button-collapse(href='#', data-activates='mobile-demo')
          i.material-icons.green-text.text-accent-3 menu
        ul.right.hide-on-med-and-down
          li
            a(href='#') My Profile
          li
            a(href='#') My Events
          li
            a(href='#', onclick='signOut()') Sign out
          li
            a(href='#') 
                if me
                    .chip
                      img#me-image(src=`${me.image}`, alt='Contact Person')
                      span#me-name #{me.name}
          li
            if me
                span#me-email.hide #{me.email}
          li
              if me
                  span#me-firstname.hide #{me.firstName}
        ul#mobile-demo.side-nav.left-align
          li
            .row
              .col.offset-s1.s10
                  if me
                    .chip
                      img(src='#{me.image}', alt='Contact Person')
                      span #{me.name}
          li
              .row
                  .col.offset-s1.s10
                    a(href='#') My Profile
                  .col.offset-s1.s10
                    a(href='#') My Events
              .row
                  .col.offset-s1.s10
                    hr.green.margin-l-1
              .row
                  .col.offset-s1.s10
                    a(href='#') Privacy
                  .col.offset-s1.s10
                    a(href='#') Terms of Service
                  .col.offset-s1.s10
                    a(href='#') Contact
              .row
                  .col.offset-s1.s10
                    hr.green.margin-l-1
              .row
                  .col.offset-s1.s10
                    a(href='#') Sign out

